article{

	@include display(flex);
	@include flex-wrap(nowrap);
	@include justify-content(center);
	width: $container-capa;
	margin: 50px auto 150px;
	padding: 20px;
	@media screen and (max-width: $container-capa) {
		width: $container-capitulo;
	}
	@media screen and (max-width: $container-capitulo){
		width: 100%;
	}
	@media screen and (max-width: 900px){
	}
	@media screen and (max-width: 600px){
		@include display(block);
		margin: 36px auto;
	}

	// div transparente para fechar a nota de rodape; APENAS MOBILE!
	div.overlay-fechar{
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		display: none;
		&.db{
			@media screen and (max-width: 600px) {
				display: block;
				z-index: 2;
			}
		}
	}

	div.main{
		display: inline-block;
		width: 60%;

		@media screen and (max-width: 600px){
			z-index: 1;
			width: 100%;
		}
	}

	div.aside{
		margin-left: 0px;
		width: 0%;
		@include transition(all 0.2s ease-out);
		@include transition-property(width, margin-left);
		display: none;
		position: relative;
		color: $cinza-texto;
		font-size: 0.9em;
		line-height: 1.4;
		overflow-x: hidden;
		overflow-y: scroll;
		@media screen and (max-width: 600px){
			z-index: 3;
			position: fixed;
			top: 0;
			right: 0;
			padding: 50px 20px 20px;
			background-color: white;
			width: 360px;
			max-width: calc(100% - 80px);
			height: 100vh;
			overflow: scroll;
			@include transition-property(transform, box-shadow);
			@include transform(translateX(100%));
			box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
			&.easing-reverso{
				@include transition-timing-function(ease-in);
			}
		}

		&.db{
			display: inline-block;
		}
		&.visivel{
			width: 30%;
			margin-left: 50px;

			@media screen and (max-width: 900px){
				width: 25%;
			}

			@media screen and (max-width: 600px){
				margin-left: 0px;
				width: 360px;
				@include transform(translateX(0%));
				box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.3);
			}
		}

		div.content{
			position: absolute;
			left: 0;
			opacity: 0;
			@include transition(opacity 0.2s linear);
			@include display(flex);
			@include flex-direction(column);
			@include align-items(flex-start);
			@media screen and (max-width: 600px) {
				position: relative;
				left: auto;
				//como no mobile o position eh relative, o important no top eh para evitar o efeito do top recebido por JS. Melhor assim do que prever isso por JS.
				top: auto !important;
				margin: 15px 0;
			}
			&.visivel{
				opacity: 1;
			}

			div.btfechar{
			display: block;
			width: 16px;
			height: 16px;
			position: relative;
			margin-bottom: 10px;
			&:hover{
				cursor: pointer;
			}
			& > div{
				height: 100%;
				width: 1px;
				background-color: $cinza-texto;
				position: absolute;	
				top: 50%;
				left: 50%;
				&:nth-child(1){
					@include transform(translate(-50%, -50%) rotate(45deg));
				}
				&:nth-child(2){
					@include transform(translate(-50%, -50%) rotate(-45deg));
				}
			}
			& + p{
				margin-top: 0;
			}
			}
		}
	}

	&.fichatecnica{
		@include flex-wrap(wrap);
		@include justify-content(space-between);
		div.dados{
			width: calc(50% - 20px);
			@media screen and (max-width: 600px) {
				width: 100%;
			}
			h5{
				margin-top: 1.4em;
				margin-bottom: 0em;
			}
			p{
				margin-top: 0em;
				& + h5{
				}
			}

			.fichacatalografica{
				border: 1px solid black;
				margin-top: 3em;
				.topo{
					padding: 1em;
					border-bottom: 1px solid black;
					h5{
						margin-top: 0;
					}	
				}

				.dados-ficha{
					font-size: 0.9em;
					margin: 0;
					padding: 1em;
					@include display(flex);
					p.codigo{
						margin: 0;
						margin-right: 1em;
						font-weight: bold;
					}

					.descricao{
						margin: 0;
						p{
							margin-bottom: 1em;
							&:last-child{
								margin-bottom: 0;
							}
						}
						p.cdu{
							text-align: right;
						}
					}
				}
				
			}
		}
		div.titulo-livro{
			margin-bottom: 3em;
			h2{
				font-weight: 400;
				font-size: 2.4em;
				span{
					display: block;
					font-size: 0.5em;
				}
			}
		}
		div.logos{
			margin-top: 3em;
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			@media screen and (max-width: 900px){
				@include flex-wrap(wrap);
			}

			@media screen and (max-width: 600px){
				@include flex-direction(column);
			}

			img{
				width: auto;
				margin: 1em 0.75em;
				&:nth-of-type(1){height: 45px}
				&:nth-of-type(2){height: 60px}
				&:nth-of-type(3){height: 75px}
				&:nth-of-type(4){height: 60px}
			}
		}

		div.edicao{
			margin-top: 3em;
			color: $cinza-texto;
			text-align: center;
		}
		div.logos, div.titulo-livro, div.edicao{
			width: 100%;
			
		}
	}

	
	// links
	$cor-links: #0063d8;
	a{
		word-break: break-all;
		word-wrap: break-word;
		&, &.visited, &:link, &:active{
			color: $cor-links;
			text-decoration: none;
			outline: none;
		}
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	

	// paragrafos
	p {

	}

	* + p{
		margin: 1.2em 0 0

	}

	h1, h2, h3, h4, h5 {
		margin: 0;
		margin-bottom: 0.6em;
		text-align: left;
		line-height: 1.24;
		@extend %fonte-destaque;
		font-weight: bold;

	}

	// titulo

	h1{
		font-size: 2.4em;
	}

	* + h1{
		margin-top: 1.3em;
	}

	h2 {
		font-size: 1.8em;
	}

	* + h2{
		margin-top: 1.2em;
	}

	h3 {
		font-size: 1.3em;
	}

	h4 {
		font-size: 1.1em;
	}

	* + h3, * + h4{
		margin-top: 1.1em;
	}

	// paginacao
	span.paginacao{
		display: block;
		text-align: right;
		font-size: 0.9em;
		font-weight: bold;
		color: $cinza-paginacao;
		border-bottom: 1px dotted;
		margin-bottom: 0;
		&:before{
			content: 'p. ';
			display: inline;
			font-weight: normal;
		}

		& + *{
			margin-top: 1em;
		}

	}

	// blockquote / citacoes
	blockquote {
		margin: 1.2em 0 2.4em 2.4em;
		font-size: 0.9em;
		color: $cinza-texto;
	}

	// tabelas
	table, .containertable table {
		text-align: left;
		font-size: 0.9em;
		min-width: 480px;
		thead{
			tr{
				border-bottom: 2px solid;
				th{
					padding-right: 1.2em;
					vertical-align: bottom;
					font-weight: bold;	
				}
			}
			
		}
		tbody{
			tr{
				border-bottom: 1px solid;
				&:last-of-type{
					border-bottom-width: 3px;
				}
				td{
					vertical-align: middle;
					padding: 0.4em 1.2em 0.4em 0;
				}
			}
		}
		
		caption {
			display: none;
		}
	}

	.containertable {
		width: 100%;
		overflow: scroll;
		margin-top: 2.4em;
		& + *:not(.table-caption){
			margin-top: 2.4em;
		}
		& + p.table-caption{
			text-align: center;
			color: $cinza-texto;
			font-size: 0.9em;
			margin-top: 0.8em;
			margin-bottom: 2.4em;

		}
	}


	// linha divisoria
	hr {
		border-color: #ccc;
		margin: 30px 0 50px;
	}

	// imagens
	figure {
		width: 100%;
		margin: 1.2em 0 2.4em;
		@include display(flex);
		@include flex-direction(column);
		@include align-items(center);

		&.retrato{
			img{
				width: auto;
				height: auto;
				max-height: 45vh;
				@media screen and (max-width: 600px) {
					max-height: 60vh;
				}
			}
		}

		img {
			max-width: 100%;
			height: auto;
			display: block;
			box-shadow: 0px 2px 15px rgba(0,0,0,0.4);
		}

		figcaption {
			margin-top: 0.8em;
			color: $cinza-texto;
			font-size: 0.9em;
		}
	}


	// notas de rodape
	.notarodape {
		// opacity: 0.5;
		display: none;
	}

	span.linknotarodape {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		border-radius: 0.3rem;
		padding: 0.3rem;
		margin: 0 0.2rem 0;
		font-size: 0.8em;
		background-color: $cor-texto-padrao;
		color: white;
		&:hover{
			cursor: pointer;
		}

		img{
			vertical-align: middle;
			display: inline;
			height: 0.25rem;
			width: auto;
		}
		
	}
}