article{

	@include display(flex);
	@include flex-wrap(nowrap);
	@include justify-content(center);
	width: $container-capa;
	margin: 50px auto 100px;
	padding: 20px;
	@media screen and (max-width: $container-capa) {
		width: $container-capitulo;
	}

	@media screen and (max-width: $container-capitulo){
		width: 100%;
		// margin: 50px 20px 100px;
	}

	div.main{

		width: 60%;
		@media screen and (max-width: 900px){
			width: 75%;
		}

		@media screen and (max-width: 600px){
			width: 100%;
		}
	}

	div.aside{
		margin-left: 0px;
		width: 0%;
		@include transition(all 0.2s ease-out);
		@include transition-property(width, margin-left);
		display: none;
		position: relative;
		color: $cinza-texto;
		font-size: 0.9em;
		&.db{
			display: block;
		}
		&.visivel{
			width: 30%;
			margin-left: 50px;

			@media screen and (max-width: 900px){
				width: 25%;
			}

			@media screen and (max-width: 600px){
			}
		}

		div.content{
			position: absolute;
			left: 0;
			opacity: 0;
			@include transition(opacity 0.2s linear);
			display: none;
			&.db{
				display: block;
			}
			&.visivel{
				opacity: 1;
			}
		}
	}

	
	// links
	a, a:link, a:active, a:visited {
		text-decoration: none;
		outline: none;

		&:hover {text-decoration: underline;}
	}

	// paragrafos
	p {
		& + p{
			margin: 1.2em 0 0
		}
	}

	h1, h2, h3, h4, h5 {
		margin: 0;
		text-align: left;
		line-height: 1.24;
		@extend %fonte-destaque;
		font-weight: bold;
	}

	// titulo

	h1{
		font-size: 2.4em;
	}

	h2 {
		font-size: 1.8em;
	}

	h3 {
		font-size: 1.3em;
	}

	h4 {
		
	}
	h4 + p {
		margin-top: 0
	}


	// blockquote / citacoes
	blockquote {
		margin: 30px 0 0 60px;
		font-size: 0.9em;
		color: transparentize(black, 0.3);

		p:first-of-type {margin: 0}
	}

	// tabelas
	table, .containertable table {
		text-align: left;
		margin: 30px 0 0 0;
		// @extend .table, .table-bordered;

		p {margin: 0}

		caption {display: table-caption; margin-top: 0}
	}

	.containertable {
		width: 100%;
		overflow: scroll;
	}


	// linha divisoria
	hr {
		border-color: #ccc;
		margin: 30px 0 50px;
	}

	// imagens
	figure {
		width: 100%;
		background: #f0f0f0;
		padding: 20px 20px 12px;
		margin: 30px 0 0 0;

		img {
			max-width: 100%;
			height: auto;
			margin: 0 auto;
			display: block;
			text-align: center;
		}

		p {margin: 0;}

		figcaption {
			margin: 10px 0 0 0;
			font-style: italic;
		}
	}


	// notas de rodape
	.notarodape {
		// opacity: 0.5;
		display: none;
	}

	span.linknotarodape {
		display: inline-block;
		vertical-align: middle;
		line-height: 0;
		border-radius: 6px;
		padding: 5px;
		margin: 0 2px;
		background-color: black;
		&:hover{
			cursor: pointer;
		}

		img{
			vertical-align: middle;
			display: inline;
			height: 0.25em;
			width: auto;
		}
		
	}
}