#sumario{
	width: 480px;
	height: 100vh;
	max-width: calc(100vw - 40px);
	display: inline-block;
	// background-color: black;
	opacity: 0.2;
	vertical-align: top;
	overflow: scroll;
}

// variacao de paleta cromatica

body{
	@each $livros in $cores-livros{
		$i: index($cores-livros, $livros);
		&#livro#{$i}{
			#sumario{

			}
		}
	}
}