$cores-livros: (
	(#e33825, #75150b),
	(#3c3c3b, #0E0E0E),
	(#1f4187, #000e2b),
	(#679b2d, #233E0B),
	(#DFB90A, #735106),
	(#3ba9aa, #074e4e),
	(#ed7600, #633b14),
	(#9D0449, #350022),
	(#4018ce, #190952)
);

$cor-texto-padrao: hsl(0,0%,20%);
$cinza-texto: hsl(0,0%,40%);
$cinza-paginacao: hsl(0,0%,60%);

$container-capa: 1200px;
$container-capitulo: 960px;

@import 'bourbon/bourbon';
@import 'padroes';


@import 'portal';
@import 'capa';
@import 'article';
@import 'footer';
@import 'overlays';

// variavel que organiza os z-index
$ordem-profundidade: 'article', 'footer', '#headerfixo', 'header', '#overlay';

@each $elemento in $ordem-profundidade{
	#{$elemento}{
		$i: index($ordem-profundidade, $elemento);
		z-index: $i;
	}
}