$cores-livros: (
	(#e33825, #75150b),
	(#3c3c3b, #0E0E0E),
	(#1f4187, #000e2b),
	(#ABFF27, #486413),
);

$cor-texto-padrao: hsl(0,0%,20%);
$cinza-texto: hsl(0,0%,40%);
$cinza-paginacao: hsl(0,0%,60%);

$container-capa: 1200px;
$container-capitulo: 960px;

@import 'bourbon/bourbon';
@import 'padroes';


@import 'portal';
@import 'capa';
@import 'article';
@import 'footer';
@import 'overlays';

// variavel que organiza os z-index
$ordem-profundidade: 'article', 'footer', '#headerfixo', 'header', '#overlay';

@each $elemento in $ordem-profundidade{
	#{$elemento}{
		$i: index($ordem-profundidade, $elemento);
		z-index: $i;
	}
}